<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cochild"
        tools:targetApi="31">

        <!-- 시작 액티비티 -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainHomeActivity" />
        <activity android:name=".TeamCreateActivity"/>
        <activity android:name=".TeamIntroActivity" />
        <activity android:name=".AdminTeamHomeActivity" />
        <activity android:name=".AdminTeamListActivity" />
        <activity android:name=".MemberTeamHomeActivity" />
        <activity android:name=".MemberTeamCalendarActivity" />
        <activity android:name=".MemberTeamBoardActivity" />
        <activity android:name=".MemberTeamNoticeActivity" />
        <activity android:name=".MemberTeamListActivity" />
        <activity android:name=".MemberCreatePostActivity"/>
        <activity android:name=".MemberReadPostActivity" />
        <activity android:name=".MemberReadNoticeActivity" />
        <activity android:name=".AdminTeamCalendarActivity"/>
        <activity android:name=".AdminCreateNoticeActivity"/>
        <activity android:name=".AdminCreatePostActivity"/>
        <activity android:name=".AdminTeamNoticeActivity" />
        <activity android:name=".AdminTeamBoardActivity" />
        <activity android:name=".AdminReadPostActivity" />
        <activity android:name=".AdminReadNoticeActivity" />
        <activity android:name=".MyPageActivity" />
        <activity android:name=".DeveloperActivity"/>

    </application>

</manifest>